/* Add CSS styling here */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 
#edcfa9
#e89f71
#d57149
#aa4a30

titles: font-family: 'Grandstander', cursive;
body: font-family: 'Lato', sans-serif;
*/

/* general styles */
* {
  box-sizing: border-box;
  /*hey browser when I give an element a width, I only want it to be as big as I've told it to be, if I add padding or a border apply that within the width I've given the element. The element shouldn't grow*/
  padding: 0;
  margin: 0;
  max-width: 100%;
  /*you can never be bigger than your parent*/
}

html {
  font-size: 62.5%;
  /*the default browser font size is 16px - this makes it so that 1 rem = 10px - so it's easier math*/
}

/*general styles*/
body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: "Lato", sans-serif;
  color: #777;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Grandstander", cursive;
}

a {
  text-decoration: none;
  color: #777;
}

section {
  padding: 4% 0;
}

/* nav styles */
/* header styles */
header {
  padding: 1.5%;
  background-color: #edcfa9;
}

h1 {
  margin: 1.5%;
  font-size: 9rem;
  color: #aa4a30;
}

nav {
  margin: 2%;
  display: flex;
}

nav a {
  padding: 1.3%;
  background-color: #e89f71;
  color: #fff;
}

.home-link {
  background-color: #aa4a30;
  color: #fff;
}

/* home section styles */
#home {
  background-color: #e89f71;
  color: #aa4a30;
  text-align: center;
}

.header-img {
  width: 50%;
}

.header-img img {
  width: 95%;
  border-radius: 50%;
  margin: 2%;
}

.container1 {
  display: flex;
}

.header-title {
  width: 50%;
  padding: 5%;
}

.header-title h2 {
  font-size: 4rem;
  margin: 5%;
}

.header-title a {
  background-color: #aa4a30;
  color: #fff;
  padding: 2%;
  margin: 5%;
}

.header-title p {
  margin: 5%;
}

/* image section styles */
.gallery {
  background-color: #edcfa9;
}

.gallery h3 {
  text-align: center;
  font-size: 5rem;
  color: #aa4a30;
}

.gallery p {
  text-align: center;
  font-size: 2rem;
  color: #e63200;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img a {
  background-color: #ed6663;
  padding: 2%;
  border-radius: 5%;
  color: #fff;
}

.img1 {
  width: 400px;
  height: 400px;
  background-image: url(/img/friendship-bracelets.jpg);
  background-position: center;
  background-repeat: no-repeat;
  margin: 2%;
}

.img2 {
  width: 400px;
  height: 400px;
  background-image: url(/img/coding-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  margin: 2%;
}

.img3 {
  width: 400px;
  height: 400px;
  background-image: url(/img/leslieDamien.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  margin: 2%;
}

.img4 {
  width: 400px;
  height: 400px;
  background-image: url(/img/theOffice.jpg);
  background-position: center;
  background-repeat: no-repeat;
  margin: 2%;
}

.img5 {
  width: 400px;
  height: 400px;
  background-image: url(/img/veggies.jpg);
  background-position: center;
  background-repeat: no-repeat;
  margin: 2%;
}

.img6 {
  width: 400px;
  height: 400px;
  background-image: url(/img/books.jpg);
  background-position: center;
  background-repeat: no-repeat;
  margin: 2%;
}

.img7 {
  width: 400px;
  height: 400px;
  background-image: url(/img/cooking.jpg);
  background-position: center;
  background-repeat: no-repeat;
  margin: 2%;
}

.img8 {
  width: 400px;
  height: 400px;
  background-image: url(/img/cat.jpg);
  background-position: center;
  background-repeat: no-repeat;
  margin: 2%;
}

/* footer styles */

footer {
  padding: 2%;
  text-align: center;
  background-color: #e89f71;
  color: #fff;
}

footer h3 {
  font-size: 2rem;
  padding: 2%;
}

footer a {
  background-color: #aa4a30;
  color: #fff;
  padding: 1.3%;
}

/* responsive styles */

@media (max-width: 1600px){
  /* 16 inch mac pro */
  .img1 {
    width: 250px;
    height: 250px;
    background-image: url(/img/friendship-bracelets.jpg);
    background-position: center;
    background-repeat: no-repeat;
    margin: 2%;
  }
  
  .img2 {
    width: 250px;
    height: 250px;
    background-image: url(/img/coding-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    margin: 2%;
  }
  
  .img3 {
    width: 250px;
    height: 250px;
    background-image: url(/img/leslieDamien.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    margin: 2%;
  }
  
  .img4 {
    width: 250px;
    height:  250px;
    background-image: url(/img/theOffice.jpg);
    background-position: center;
    background-repeat: no-repeat;
    margin: 2%;
  }
  
  .img5 {
    width: 250px;
    height: 250px;
    background-image: url(/img/veggies.jpg);
    background-position: center;
    background-repeat: no-repeat;
    margin: 2%;
  }
  
  .img6 {
    width: 250px;
    height: 250px;
    background-image: url(/img/books.jpg);
    background-position: center;
    background-repeat: no-repeat;
    margin: 2%;
  }
  
  .img7 {
    width: 250px;
    height: 250px;
    background-image: url(/img/cooking.jpg);
    background-position: center;
    background-repeat: no-repeat;
    margin: 2%;
  }
  
  .img8 {
    width: 250px;
    height: 250px;
    background-image: url(/img/cat.jpg);
    background-position: center;
    background-repeat: no-repeat;
    margin: 2%;
  }
}

@media (max-width: 800px) {
  h1 {
    margin: 1.5%;
    font-size: 5rem;
    color: #aa4a30;
  }

  nav {
    width: 50%;
    margin: 2%;
    display: flex;
  }

  nav a {
    padding: 2%;
    background-color: #e89f71;
    color: #fff;
  }

  .container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .img1 {
    width: 300px;
    height: 300px;
    background-image: url(/img/friendship-bracelets.jpg);
    background-position: center;
    background-repeat: no-repeat;
    margin: 2%;
  }
  
  .img2 {
    width: 300px;
    height: 300px;
    background-image: url(/img/coding-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    margin: 2%;
  }
  
  .img3 {
    width: 300px;
    height: 300px;
    background-image: url(/img/leslieDamien.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    margin: 2%;
  }
  
  .img4 {
    width: 300px;
    height: 300px;
    background-image: url(/img/theOffice.jpg);
    background-position: center;
    background-repeat: no-repeat;
    margin: 2%;
  }
  
  .img5 {
    width: 300px;
    height: 300px;
    background-image: url(/img/veggies.jpg);
    background-position: center;
    background-repeat: no-repeat;
    margin: 2%;
  }
  
  .img6 {
    width: 300px;
    height: 300px;
    background-image: url(/img/books.jpg);
    background-position: center;
    background-repeat: no-repeat;
    margin: 2%;
  }
  
  .img7 {
    width: 300px;
    height: 300px;
    background-image: url(/img/cooking.jpg);
    background-position: center;
    background-repeat: no-repeat;
    margin: 2%;
  }
  
  .img8 {
    width: 300px;
    height: 300px;
    background-image: url(/img/cat.jpg);
    background-position: center;
    background-repeat: no-repeat;
    margin: 2%;
  }
}

@media (max-width: 500px) {
  header{
    text-align: center;
  }
  nav {
    margin: 2% auto;
    display: flex;
    flex-direction: column;
  }
  
  nav a {
    width: 45%;
    margin: 0 auto;
    padding: 1.3%;
    background-color: #e89f71;
    color: #fff;
  }

  .img1 {
    width: 200px;
    height: 200px;
    background-image: url(/img/friendship-bracelets.jpg);
    background-position: center;
    background-repeat: no-repeat;
    margin: 2%;
  }
  
  .img2 {
    width: 200px;
    height: 200px;
    background-image: url(/img/coding-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    margin: 2%;
  }
  
  .img3 {
    width: 200px;
    height: 200px;
    background-image: url(/img/leslieDamien.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    margin: 2%;
  }
  
  .img4 {
    width: 200px;
    height: 200px;
    background-image: url(/img/theOffice.jpg);
    background-position: center;
    background-repeat: no-repeat;
    margin: 2%;
  }
  
  .img5 {
    width: 200px;
    height: 200px;
    background-image: url(/img/veggies.jpg);
    background-position: center;
    background-repeat: no-repeat;
    margin: 2%;
  }
  
  .img6 {
    width: 200px;
    height: 200px;
    background-image: url(/img/books.jpg);
    background-position: center;
    background-repeat: no-repeat;
    margin: 2%;
  }
  
  .img7 {
    width: 200px;
    height: 200px;
    background-image: url(/img/cooking.jpg);
    background-position: center;
    background-repeat: no-repeat;
    margin: 2%;
  }
  
  .img8 {
    width: 200px;
    height: 200px;
    background-image: url(/img/cat.jpg);
    background-position: center;
    background-repeat: no-repeat;
    margin: 2%;
  }
}

/* 
Test your website at several breakpoints and refactor code as needed. A few common breakpoints are below:
  iPhone: 360×640
  Laptop: 1366×768
  Widescreen: 1920×1080
 */
